@font-face {
    -fx-font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    -fx-font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
    -fx-font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    -fx-font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf");
}

.root-pane {
    -fx-background-color: #fff;
}

.top-pane {
    -fx-background-color: #2196F3;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: transparent;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 4);
}

.title-label {
    -fx-font-family: "Montserrat-Black";
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 4);
}

.user-data-labels {
    -fx-font-family: "Roboto";
    -fx-font-weight: normal;
    -fx-font-size: 16;
}

.subtitle-label {
    -fx-font-family: "Roboto";
    -fx-font-weight: normal;
    -fx-font-size: 14;
    -fx-text-fill: #000;
}

.left-pane {
    -fx-background-color: #2196F3;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 4);
}

.hamburger-button {
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.center-pane {
    /* -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #e8f4fd, #ffffff); */
    -fx-background-color: #fff;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 4);
}


/*.stats-pane {*/
/*    !* -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #79c0f7, #ffffff); *!*/
/*    -fx-background-color: #e8f4fd;*/
/*    -fx-background-radius: 20;*/
/*    -fx-border-radius: 20;*/
/*    -fx-border-color: transparent;*/
/*    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 4);*/
/*}*/


.stats-pane {
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 4);
    -fx-border-radius: 20;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI";
}

.stats-pane.pink {
    -fx-background-color: linear-gradient(to bottom right, #FFB6C1, #FF69B4);
}

.stats-pane.yellow {
    -fx-background-color: linear-gradient(to bottom right, #FFD580, #FFB347);
}

.stats-pane.green {
    -fx-background-color: linear-gradient(to bottom right, #B4F8C8, #63D471);
}

.stats-pane.blue {
    -fx-background-color: linear-gradient(to bottom right, #A2D2FF, #00B4D8);
}

.stats-pane.purple {
    -fx-background-color: linear-gradient(to bottom right, #DDBDF1, #9D4EDD);
}

.stats-pane Label {
    -fx-font-family: Roboto;
    -fx-text-fill: #2c2c2c;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: center;
}


.stats-numbers-label {
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-font-size: 40;
}

.stats-subtitle-label {
    -fx-font-family: "Roboto-Black";
    -fx-text-fill: #000;
    -fx-font-size: 14;
}


.nav-buttons {
    -fx-background-color: transparent;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 45;
    -fx-max-height: 45;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 4);
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.nav-buttons:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #2196F3;
}

.nav-close-button {
    -fx-background-color: transparent;
    -fx-background-image: url("../images/exit-blue.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40 40;
    -fx-background-position: center;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 45;
    -fx-max-height: 45;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 4);
    -fx-cursor: hand;
}

.nav-close-button:hover {
    -fx-background-image: url("../images/exit-red.png");
}
