@font-face {
    -fx-font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    -fx-font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
    -fx-font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    -fx-font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf");
}


.root {
    -fx-background-color: #fff;
    -fx-border-color: #2196F3;
    -fx-border-width: 3px;
}

.label {
    -fx-text-fill: #2196f3;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
    -fx-font-weight: normal;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #2196f3;
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #2196f3;
    -fx-cursor: text;
}

.text-field:focused {
    -fx-background-color: #2196f3;
    -fx-border-width: 2;
}

.email-field {
    -fx-border-width: 0 0 1 0;
    -fx-min-width: 300;
    -fx-max-width: 300;
    -fx-min-height: 35;
    -fx-max-height: 35;
}

.email-field:focused {
    -fx-background-color: #e5e5e5;
    -fx-background-radius: 8;
    -fx-border-width: 0 0 2 0;

}

.button {
    -fx-background-color: #2196f3;
    -fx-text-fill: #fff;
    -fx-font-family: "Roboto";
    -fx-font-weight: normal;
    -fx-font-size: 13;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-border-color: #2196f3;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(33, 150, 243, 0.4), 4, 0.2, 1, 1);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #2196f3;
    -fx-effect: dropshadow(gaussian, rgba(33, 150, 243, 0.6), 6, 0.3, 1, 2);
}

.button:focused {
    -fx-border-color: #fff;
    -fx-effect: dropshadow(gaussian, rgba(33, 150, 243, 0.8), 8, 0.4, 1, 3);
}